<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-group" }) do |f| %>
  <%= devise_error_messages! %>
  <fieldset class = "form-group">
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>
  </fieldset>
  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
