
<% content_for :admin_search_form do %>
  <%= form_tag admin_orders_path, method: "get" do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>
<% end %>

<h1> ORders page </h1>
Total orders: <%= @orders.size %> , 
<%= Admin.get_total_money_in_orders %>
<% @orders.each do |o| %>
  <section class="roww">
    <%= o.order_number %>
Amount:    <%= o.fee_amount %>
    <%= link_to "", admin_destroy_order_path(o), method: "delete", class: "option fa fa-remove" %>
    <span class="option fa fa-pencil"></span>
  </section>
<% end %>

<div class="flickr_pagination">
  <%= will_paginate @orders, :container => false %>
</div>

