<div id="address_form">
  <%-# form_for @ship_address, url: ship_address_path, method: 'patch', html: {class: "address_form form-group"}  do |f|  %>
    <% @ship_address = ShipAddress.new %>
<%= form_for @ship_address, html: {class: "address_form form-group"}  do |f|  %>
  <fieldset class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%-# f.hidden_field :id, class: "address_id" %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control address_name" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control address_city" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :district %>
    <%= f.text_field :district, class: "form-control address_district" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :ward %>
    <%= f.text_field :ward, class: "form-control address_ward" %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :details %>
    <%= f.text_field :details,class: "form-control address_details" %>
  </fieldset>
  <%= f.button 'Create Address', class: "create_address_btn btn btn-primary" %>
<% end %>
</div>

