
<div class="nav-on-top">
  <%= link_to "Home", products_path %> <span style="color:green" class="fa fa-angle-double-right"></span>
  <% @parents.each do |category| %>
    <%= link_to category.name, category_path(category.id) %> <span style ="color:green" class="fa fa-angle-double-right"></span>
  <% end %>
  <%= pluralize(@category.products.count, 'product') %>
</div>


<div class="products-wrapper">
<% @products.each do |product| %>
  <div class="product-box-wrapper ">
    <div class="product_image">
      <%= link_to image_tag(product.image_file), product_path(product.id) %>
    </div>
    <div class="bottom">
      <div class="center-child">
        <button class="add-to-cart-btn btn", value = "<%= product.id %>"> Add to Cart </button>
      </div>
      <%= link_to product.name, product_path(product.id) %><br>
      <%= product.category.name %>
    </div>
  </div>
<% end %>
</div>

<div class="flickr_pagination">
  <%= will_paginate @products, :container => false %>
</div>

