<div class="cart-page">
<% if @cart == nil %>
  Cart is nil now
<% end %>
<div class="inform">
  <% unless @cart.order_items.size != 0 %>
    <p style = "text-align:center">
      Your cart is empty now!<br><br>
      <%= link_to "Continues Shopping", root_path, class: "btn btn-primary" %>
    </p>
  <% end %>
  You have <%= pluralize(@cart.order_items.count, 'Product') %> in your Cart
</div>
<div class="order_item">
  <% @cart.order_items.each do |item| %>
    <div class="item-wrapper order_item_<%=item.id%>">
    <span class='item name'> <%= truncate(item.product.name,length: 17) %></span> 
    <span class="custom-quantity quantity">
      <button class= "btn btn-primary fa fa-minus minus" value="<%=item.id%>"></button>
      <input class="custom-number-<%=item.id%> custom-number" value="<%= item.quantity %>">
      <button class="btn btn-primary plus-button fa fa-plus plus-<%=item.id%>" value="<%=item.id%>"></button>
    </span>
    <span class='item price price-<%=item.id%>'><%= number_to_currency(item.price_line) %></span>
    <span class='delete-order-item fa fa-trash' style="color:red;"></span>
    </div>
  <% end %>
</div>
<div class="centerbtn">
  <% unless @cart.order_items.size == 0 %>
    <%= link_to "Order", new_order_path, class: "cart_btn btn btn-primary" %>
    <%= link_to "Continues Shopping", root_path, class: "cart_btn btn btn-primary" %>
  <% end %>
</div>
</div>
