<div class="refine-wrapper">
  <%= form_tag products_path, method: 'get' do %>
    <div class="row">
    <%# select_tag :category_filter_id, options_for_select(["All categories"] + @categories.collect{ |category| [category.name, category.id]}), onchange: 'this.form.submit()' %>
    <div class="col">
    <%= select_tag :category_id,options_for_select(@categories.collect{|c| [c.name, c.id]}, @category_id), prompt: "Select Category", onchange: 'this.form.submit()', class: 'form-control' %>
    </div>
    <div class="col">
    <%= select_tag :price_from, options_for_select(@prices_from, @from), prompt: "Price from",onchange: 'this.form.submit()', class: 'form-control' %>
    </div>
    <div class="col">
    <%= select_tag :price_to, options_for_select(@prices_to, @to), prompt: "Price to", onchange: 'this.form.submit()', class: 'form-control' %>
    </div>
    <%-# submit_tag "Ok" %>
    </div>
  <% end %>
</div>

<h3>All Products</h3>
<div class="products-wrapper">
<% @products.each do |product| %>
  <div class="product-box-wrapper ">
    <div class="product_image">
      <%= link_to image_tag(product.image_file), product_path(product) %>
    </div>
    <div class="bottom">
      <div class="center-child">
        <button class="add-to-cart-btn btn", value = "<%= product.id %>"> Add to Cart </button>
      </div>
      <%= link_to product.name, product_path(product) %><br>
      <p> Price: <%= number_to_currency(product.price) %>
    </div>
  </div>
<% end %>
</div>

<div class="flickr_pagination">
	<%= will_paginate @products, :container => false %>
</div>
