<div class="refine-wrapper">
  Refine navigation
</div>

<h3>All Products</h3>
<div class="products-wrapper">
<% @products.each do |product| %>
  <div class="product-box-wrapper ">
    <div class="product_image">
      <%= link_to image_tag(product.image_file), product_path(product.id) %>
    </div>
    <div class="bottom">
      <div class="center-child">
        <button class="add-to-cart-btn btn", value = "<%= product.id %>"> Add to Cart </button>
      </div>
      <%= link_to product.name, product_path(product.id) %><br>
      <%= product.category.name %>
    </div>
  </div>
<% end %>
</div>

<div class="flickr_pagination">
	<%= will_paginate @products, :container => false %>
</div>
