<div class="nav-on-top">
<%= link_to "Home", products_path %> <span style="color:green" class="fa fa-angle-double-right"></span>
<%#- link_to @product.category.name, controller: "pages", action: "category", category_name: @product.category.name, amount: @product.category.products.count %>
<% @product.get_category.reverse.each do |c| %>
  <%= link_to c.name, category_path(c.id) %> <span style ="color:green" class="fa fa-angle-double-right"></span> 
<% end %>
 <%= truncate(@product.playname, length: 17) %>
</div>

Product information
<div class="product">
<%= image_tag @product.image_file %>
</div>
<div class="center-content" style ="text-align: center">
  <div class="product-description">
    Category: <%= @product.category.name%>
  <div class="product-name">
    Name: <%= @product.name %>
  </div>
<div class="product-price">
  Price: <%= @product.price %>
</div>
</div>
<button class="btn btn-primary add-to-cart-btn" style="margin: auto" value="<%= @product.id %>">Buy Now</button>
</div>
