<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main container">
      <% flash.each do |key, value| %>
        <% if key=="notice" %>
          <div class="alert alert-success">
        <% elsif key == "alert" %>
          <div class="alert alert-danger">
        <% else %>
          <div class="alert alert-<%= key %>">
        <%end%>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <%= value %>
        </div>
      <% end %>
      <nav class="menu_on_top">
        <div class="menu-on-top dropdown">
          <i class="dropbtn fa fa-bars"></i>
          <div class="dropdown_content dropdown_content_show">
            <a class="home-menu" href="<%=root_path%>">Home</a>

            <div class="hide-me">
            <a href="<%= about_path %>">About</a>
            <a class="products-menu" href="<%= products_path %>">Products</a>
            <a href="<%= faqs_path %>">FAQs</a>
            <% if user_signed_in? %>
              <a href="<%= destroy_user_session_path %>" data-method="delete">Log Out</a>
            <% else %>
              <a href="<%= new_user_session_path %>"> Log In </a>
              <a href="<%= new_user_registration_path %>"> Sign Up </a>
            <% end %>
            </div>


          </div>
        </div>
        <div class="search-form">
          <div class="search-form-wrap">
          <%= form_tag products_path, method: "get" do %>
          <%= text_field_tag :search, params[:search], placeholder: "Fill words to search...", class: 'text' %>
          <%= button_tag type: "submit", class: 'btn' do %>
            <i class="fa fa-search"></i>
          <% end %>
        <% end %>
          </div>
        </div>
        <div id="cart" class="right-navbar">
          <div class="cart-icon">
          
            <a data-popup-open="popup-cart" href="<%= cart_path(@cart.id) %>"><i class="fa fa-shopping-cart"></i></a>
          </div>
          <div class="user-nav">
            <% if user_signed_in? %>
              <%= link_to '', destroy_user_session_path, method: :delete, class: "fa fa-sign-out" %>
            <% else %>
              <%= link_to '', new_user_registration_path, class: "fa fa-user-plus" %>
              <%= link_to '', new_user_session_path, class: "fa fa-user" %>
            <% end %>
          </div>
          <div class="popup" data-popup="popup-cart">
            <div class="popup-inner">
              <div class="triangle-up"></div>
              <% if current_cart.order_items.count>0 %>
                <p class="inform-message"> You have <e style="color:white"> <%= pluralize(current_cart.order_items.size, 'product') %> </e> in your Cart  </p>
              <% else %>
                <p> You have 0 product in your cart </p>
              <% end %>
            </div>
          </div>
        </div>
      </nav>

      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <div class="footer care">
          <p> Hotline : 19001009 <p>
          <%= link_to 'FAQs', faqs_path %>
          <%= link_to 'Order guide', root_path %>
          <%= link_to 'Send feed back', root_path %>
        </div>
        <!--
        <div class="footer about">
          <%= link_to 'About us', root_path %>
          <%= link_to 'Contact', root_path %>
          
        </div>
        <div class="footer categories">
          Show all brand
        </div>
        -->
        <div class="footer connect-us">
          <%= link_to '  Us on facebook', root_path, class: "fa fa-facebook" %>
          <%= link_to '  Us on youtube', root_path, class: "fa fa-youtube" %>
          <%= link_to '  Us on twitter', root_path, class: "fa fa-twitter" %>
        </div>
      </div>
      <div class="bottom">
        <p> <i class = "fa fa-copyright"></i> 2017 by Dac Nguyen </p>
        <p class = "small"> Build with Ruby 2.4.1, Rails 5.1.x version </p>
      </div>
    </footer>
  </body>
</html>
